.container{
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Fa espandere il contenuto per occupare lo spazio disponibile */
}
footer{
    margin-top: auto; /* Spinge il footer in basso */
    background-color: darkgray;
    padding: 10px;
    box-sizing: border-box; /* Considera padding e bordi nella larghezza */
    text-align: center;
}
form{
    align-self: center;
    font-size: large;
}
.form-title{
    align-self: center;
}
#submit{
    background-color: #0a53be;
    color: white;
    padding: 10px;
    width: 200px;
    margin:5px;
    border-radius: 5px;
}
#submit:hover{
    background-color: green;
}

#tabella-libri {
    align-self: center;
    border: 3px solid gray; /* Bordo esterno più spesso */
    border-radius: 10px; /* Arrotonda i bordi */
    overflow: hidden; /* Assicura che il contenuto non sbordi */
    border-collapse:inherit; /* Evita conflitti con i bordi interni */
    width: 75%; /* Riduci la larghezza se necessario */
    border-width: 6px;
}

#tabella-libri th{
    width: auto;
}

.container {
    max-width: 100%; /* Impedisce che il contenitore superi la larghezza */
    overflow-x: hidden; /* Nasconde qualsiasi contenuto che sfora orizzontalmente */
    padding: 15px; /* Aggiungi spazio interno adeguato */
    box-sizing: border-box; /* Includi padding nella larghezza totale */
}
p {
    word-wrap: break-word; /* Forza la rottura del testo lungo */
    white-space: normal; /* Evita spazi inutili */
}
p {
    word-wrap: break-word; /* Forza la rottura del testo lungo */
    white-space: normal; /* Evita spazi inutili */
}
.carousel-inner{
    padding: 0;
    margin-top: 55px;
}
.carousel-inner img {
    width: 100%; /* Occupa tutta la larghezza */
    height: 400px; /* Imposta un'altezza fissa per evitare immagini enormi */
    object-fit: cover; /* Ritaglia l'immagine senza deformarla */
}
.carousel-item p,h5{
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
